@import 'themes/theme';

.about {
  color: $text-color-200;
  font-size: $font-size-400;
  margin: auto;
  text-align: center;
}

.layout {
  display: flex;
  flex-flow: column nowrap;
  > section {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: $bp-200) {
  .layout {
    grid-row-gap: $spacing-600;
  }
}

@media screen and (min-width: $bp-300) {
  .header {
    grid-area: header;
  }

  .cta {
    grid-area: cta;
    max-width: 800px;
    margin-inline: auto;
  }

  .desc {
    grid-area: dec;
  }

  .profile {
    grid-area: profile;
  }

  .siteFacts {
    grid-area: facts;
  }

  .socials {
    grid-area: socials;
  }

  .quote {
    grid-area: quote;
  }

  .layout {
    display: grid;
    grid-column-gap: $spacing-300;
    grid-template-areas:
      'socials socials profile profile profile'
      'cta cta cta cta cta'
      'facts facts facts facts facts'
      'quote quote quote quote quote';
    grid-template-columns: repeat(1fr, 5);
  }
}

@media screen and (min-width: $bp-400) {
  .layout {
    grid-column-gap: $spacing-500;
  }
}
