@import '../../themes/theme';

.layout {
  display: grid;
  grid-row-gap: $spacing-400;
}

.drawer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.video-container {
  display: grid;
  grid-column-gap: $spacing-200;
  grid-row-gap: $spacing-400;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media screen and (min-width: $bp-200) {
  .layout {
    grid-row-gap: $spacing-600;
  }

  .video-container {
    grid-row-gap: $spacing-600;

    figure {
      max-width: 40rem;
    }
  }
}

@media screen and (min-width: $bp-300) {
  .video-container {
    grid-column-gap: $spacing-300;

    figure {
      max-width: 31.25rem;
    }
  }
}

@media screen and (min-width: $bp-400) {
  .video-container {
    grid-column-gap: $spacing-500;
  }
}
