@import 'themes/theme';

.acc-container {
  display: grid;
  grid-column-gap: $spacing-100;
  grid-row-gap: $spacing-200;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  width: 100%;
}

.drawer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.layout {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: $spacing-400;
}

@media screen and (max-width: $bp-300) {
  .layout {
    display: flex;
    flex-direction: column;
  }
  .drawer-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: $bp-100) {
  .acc-container {
    grid-column-gap: $spacing-300;
    grid-row-gap: $spacing-400;
  }

  .layout {
    grid-row-gap: $spacing-500;
  }
}

@media screen and (min-width: $bp-200) {
  .acc-container {
    grid-column-gap: $spacing-400;
    grid-row-gap: $spacing-500;
    padding: $spacing-100 $spacing-300;
  }
}

@media screen and (min-width: $bp-300) {
  .layout {
    grid-column-gap: $spacing-300;
    grid-template-columns: 1fr 300px;

    h1 {
      grid-column: 1 / span 2;
    }
  }

  .layout > div:not(:last-of-type) {
    grid-column: 1;
  }

  .layout > div:last-of-type {
    align-self: flex-start;
    grid-column: 2;
    grid-row: 4;
  }

  .layout > a {
    grid-column: 1 / span 2;
  }

  .layout > blockquote {
    grid-column: 1 / span 2;
  }
}

@media screen and (min-width: $bp-400) {
  .layout {
    grid-column-gap: $spacing-500;
    grid-template-columns: 1fr 350px;
  }
}
