@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

$font-family: 'Lora', serif;

/* font size */
$font-size-50: 0.75rem; // 12
$font-size-100: 0.875rem; // 14
$font-size-200: 1rem; // 16
$font-size-300: 1.125rem; // 18
$font-size-400: 1.25rem; // 20
$font-size-500: 1.5rem; // 24
$font-size-600: 2rem; // 32
$font-size-700: 2.5rem; // 40
$font-size-800: 3rem; // 48
$font-size-900: 4rem; // 64

/* font weight */
$font-weight-bold: bold;
$font-weight-semi-bold: 600;
$font-weight-normal: normal;

/* leading */
$leading-100: 1;
$leading-200: 1.5;
$leading-300: 2;
