$spacing-20: 0.0625rem; // 1px
$spacing-40: 0.125rem; // 2px
$spacing-50: 0.25rem; // 4px
$spacing-100: 0.5rem; // 8px
$spacing-150: 0.75rem; // 12px
$spacing-200: 1rem; // 16px
$spacing-300: 1.5rem; // 24px
$spacing-400: 2rem; // 32px
$spacing-500: 2.5rem; // 40px
$spacing-600: 3rem; // 48px
$spacing-700: 4rem; // 64px
$spacing-800: 5rem; // 80px
$spacing-900: 6rem; // 96px
$spacing-1000: 7.5rem; // 120px
$spacing-1500: 12.5rem; // 200px
