@import 'themes/theme';
@media screen and (max-width: 664px) {
  .read_pubs {
    justify-content: center;
  }
  .download_pubs {
    justify-content: center;
  }
  .fiction_pubs {
    justify-content: center;
  }
}
.layout {
  display: grid;
  grid-template-areas:
    'header'
    'read'
    'download'
    'fiction';

  .wrapper {
    .read > .read_pubs {
      margin-bottom: 1.2rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      > * {
        width: 300px;
      }
    }
    .download > .download_pubs {
      margin-bottom: 1.2rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      > * {
        width: 300px;
      }
    }
    .fiction > .fiction_pubs {
      margin-bottom: 1.2rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      > * {
        width: 300px;
      }
    }
  }
}
