@import '../../themes/theme';

.container {
  height: 100%;
  min-height: 15.625rem;
  position: relative;
  width: 100%;
  text-align: center;
}

.block {
  border: 1px solid $tertiary-300;
  box-sizing: border-box;
  font-size: $font-size-600;
  font-weight: $font-weight-bold;
  left: 50%;
  padding: $spacing-200 $spacing-400;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
