@import '../../themes/theme';

.card {
  border-radius: $spacing-50;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;

  .link {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: stretch;
    width: 100%;
  }

  figcaption {
    background-color: $primary-100;
    color: $text-color-100;
    height: 100%;
    padding: $spacing-300 $spacing-200;
    width: 100%;
  }
}

.img-container {
  height: auto;
  flex-grow: 1;
  width: auto;
}
