@import 'themes/theme';

.accordion {
  margin-bottom: -$spacing-100;

  button:nth-of-type(1n) {
    background-color: $tertiary-300;
  }

  button:nth-of-type(2n) {
    background-color: $primary-100;
  }

  button:nth-of-type(3n) {
    background-color: $tertiary-200;
  }
}
