@import 'themes/theme';
.publication {
  border-radius: 0.25rem;
  color: white;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;

  .read_link {
    display: flex;
    flex-flow: row wrap;
  }

  .pub_svg {
    width: 15px;
    height: 15px;
    margin: 5px 5px 0 0;
  }

  &:nth-of-type(odd) {
    background-color: $secondary-100;
    &:hover {
      background-color: darken($secondary-100, 7.5%);
    }
  }

  .title {
    margin: 0.4rem auto 0.8rem;
  }

  div.img {
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    width: 100%;
    position: relative;
    img {
      transition: all 0.2s ease;
      transform: scale(1, 1);
      height: 100%;
      top: 0;
      position: absolute;
      &:hover {
        transform: scale(1.04, 1.04);
      }
    }
  }

  &:nth-of-type(even) {
    background-color: $tertiary-300;
    &:hover {
      background-color: darken($tertiary-300, 7.5%);
    }
  }
}
